<%= form_tag :sessions, action: :create do %>
<div>
<%= label_tag :username %> 
</div>
<div>
<%= text_field_tag :username %>
</div>
<div>
<%= label_tag :password %> 
</div>
<div>
<%= password_field_tag :passsword %> 
</div>
<div>
<%= submit_tag "Login" %>
</div>
<% end %>