<!DOCTYPE html>
<html>
  <head>
    <title>Database</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1><marquee direction="right" bgcolor='#000000 ' style='color:white; font-weight:bold;'>
BELAJAR RUBY ON RAILS
</marquee></h1>
<script type="text/javascript">
 window.onload = function() { jam(); }

 function jam() {
  var e = document.getElementById('jam'),
  d = new Date(), h, m, s;
  h = d.getHours();
  m = set(d.getMinutes());
  s = set(d.getSeconds());

  e.innerHTML = h +':'+ m +':'+ s;

  setTimeout('jam()', 1000);
 }

 function set(e) {
  e = e < 10 ? '0'+ e : e;
  return e;
 }
</script>
<body>
<center>
<h1 style="font-size: 60px; font-family: verdana;" id="jam"></h1>
</center>
<h2>ADMIN</h2>
    <%= yield %>
  </body>
</html>
